namespace BDAS2_Kratky_Horak_Semestralni_Prace.Views.DB
{
  @model YourNamespace.Models.Adresa

@{
    ViewData["Title"] = "Detaily adresy";
}

<h2>Detaily adresy</h2>

<div>
    <h4>@Model.Ulice, @Model.PSC</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Ulice</dt>
        <dd class="col-sm-10">@Model.Ulice</dd>

        <dt class="col-sm-2">PSČ</dt>
        <dd class="col-sm-10">@Model.PSC</dd>

        <dt class="col-sm-2">Číslo popisné</dt>
        <dd class="col-sm-10">@Model.CP</dd>
    </dl>
</div>

<a asp-action="IndexAdresa" class="btn btn-secondary">Zpět na seznam</a>

}
