@model Socha

<h2>Detail - Socha</h2>
<div>
    <p><strong>ID:</strong> @Model.IdPredmet</p>
    <p><strong>Název:</strong> @Model.Nazev</p>
    <p><strong>Stáří:</strong> @Model.Stari</p>
    <p><strong>Popis:</strong> @Model.Popis</p>
    <p><strong>Technika tvorby:</strong> @Model.TechnikaTvorby</p>
    <p><strong>Váha:</strong> @Model.Vaha</p>
</div>
<a asp-action="Index" class="btn btn-secondary">Zpět na seznam</a>

