@model Fotografie

<h2>Detail - Fotografie</h2>
<div>
    <p><strong>ID:</strong> @Model.IdPredmet</p>
    <p><strong>Název:</strong> @Model.Nazev</p>
    <p><strong>Stáří:</strong> @Model.Stari</p>
    <p><strong>Popis:</strong> @Model.Popis</p>
    <p><strong>Žánr:</strong> @Model.Zanr</p>
    <p><strong>Licence:</strong> @Model.Licence</p>
</div>
<a asp-action="Index" class="btn btn-secondary">Zpět na seznam</a>

