@model Obraz

<h2>Detail - Obraz</h2>
<div>
    <p><strong>ID:</strong> @Model.IdPredmet</p>
    <p><strong>Název:</strong> @Model.Nazev</p>
    <p><strong>Stáří:</strong> @Model.Stari</p>
    <p><strong>Popis:</strong> @Model.Popis</p>
    <p><strong>Umělecký styl:</strong> @Model.UmeleckyStyl</p>
    <p><strong>Médium:</strong> @Model.Medium</p>
</div>
<a asp-action="Index" class="btn btn-secondary">Zpět na seznam</a>

